@media (max-width: 767px){
    img.main_photo {
        display: none;
        width:auto;
    }
    .section_hero {
        padding-bottom: 42px;
    }
    .column{
        width: auto;
        align-items: center;
        justify-content: center;
    }
    .catch_phrase .invite_phrase{
        text-align: center;
        font-size: 40px;
        font-weight: 30;
        margin-bottom: 0;
        width: auto;
    }
    .button_container {
        justify-content: center;
        width: auto;
        margin: 0;
    }
    .btn {
        border-radius: 30%;
        padding: 5px 16px;
        font-size: 12px;
    }
    .section_container {
        min-height: 400px;
        justify-content: center;
    }
    .catch_phrase {
        flex-direction: column;
        width: auto;
    }

    .flex_column {
        flex-direction: column;
    }

    .section_heading {
        margin: 40px;
        font-size: 18px;
        width: auto;
        padding-top: 17px;
    }
    .pros_container {
        width: auto;
        margin-left: 80px;
    }
    .pros_pic{
        width:auto;
    }
    .text {
        font-size: 16px;
        width: auto;
    }
    .mountains_pic{
        display:none;
    }
    .left_side{
        justify-content: center;
        align-items: center;
        width:auto;
    }
    .longer_paragraph{
        width:auto;
    }
    .max_width{
        width:auto;
    }
    .max_width{
        justify-content:center;
        align-items: center;
    }

}