/* reset values to default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #1c1d21;
  margin:0;
}
/* base styles */

.anchor_color{
  color: #1c1d21;
}
.flex-end-alignment{
  display:flex;
  align-items: flex-end;
}

.flex-justify-end{
  display: flex;
  justify-content: flex-end;
}

.footer_list {
  list-style-type: none;
}
.max_width{
  max-width: 1440px;
}


.flex {
  display: flex;
}

.flex-j-center {
  display:flex;
  justify-content: center;
}

.section_heading {
  margin: 88px auto;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  line-height: 119.5%;
  max-width: 1212px;
}
.text_deco_none{
  text-decoration: none;
}
.section_wrapper {
  margin: 0 auto;
}

/* sections styles */
.header {
  position: relative;
}
.header_wrapper {
  position: fixed;
  width: 100%;
  background-color: #d9dcd7;
  padding: 32px 0;
}

.section_hero {
  padding-bottom: 84px;
  background-color: #d9dcd7;
  margin: 0 auto;
}

.nav {
  justify-content: space-between;
  width: 100%;
}

.text_transform{
  text-transform: capitalize;
}

.link_flex_container {
  width: 80%;
  list-style-type: none;
}
.font_size{
  font-size: 25px; 
}


.links {
  margin: 0 10px;
}


.sign {
  color: black;
}

.pink {
  background-color: #ece0e0;
}

.section_container {
  min-height: 900px;
  justify-content: center;
}

.main_photo {
  height: 436px;
  width: 609px;
}

.column {
  width: 609px;
}

.catch_phrase {
  flex-direction: column;
  width: 605px;
  padding-bottom: 65px;
}

.catch_phrase .invite_phrase {
  text-align: left;
  font-size: 96px;
  font-weight: 400;
  max-width: 605px;
}

.photo {
  padding-bottom: 65px;
}

.button_container {
  justify-content: flex-start;
  width: 609px;
}

.btn {
  border-radius: 32px;
  padding: 9px 30px;
  font-size: 16px;
  background-color: #d9dcd7;
}

/* TODO: order styles by sections/content */
.second_page_container {
  padding-bottom: 120px;
}


.high_way {
  margin: 0 8px;
}

.paragraph_header {
  font-weight: bold;
  margin-bottom: 24px;
}

.pros_photo {
  height: 324px;
}

.constant_width{
  width: 400px;  
}
.paragraph_description {
  line-height: 24px;
}

.text {
color: rgba(0, 0, 0, 0.46);
  text-align: center;
  font-size: 16px;
  max-width: 308px;
}

.left_side {
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #ece0e0;
}

.right_side {
  height: 811px;
  width: 712px;
}

.mountains_pic {
  height: 811px;
  width: 712px;
}

.some_text {
  height: 220px;
  text-align: left;
}

.longer_paragraph {
  color: rgba(0, 0, 0, 0.46);
  font-size: 17px;
  max-width: 400px;
}

.third_page_header {
  padding-left: 8px;
  font-size: 25.5px;
}

.book_now {
  border-radius: 32px;
  width: 130px;
  height: 35px;
  background-color: #ece0e0;
}

.book {
  font-size: 16px;
}

.girl_pic {
  width: 504px;
  height: 604px;
}

.left_side_fourth_page {
  height: 704px;
}

.right_side_fourth_page {
  width: 936px;
  height: 704px;
  flex-direction: column;
}

.fan_number {
  max-width: 381px;
  height: 302px;
  align-items: center;
}

.cabin_lovers {
  font-size: 52px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  margin: 0 0 0 100px;
}

.autor {
  height: 402px;
  margin-left: 100px;
  justify-content: flex-start;
}

.newsletter {
  width: 668px;
  padding-left: 32px;
  padding-bottom: 24px;
}

.input_newsletter {
  width: 384px;
}

.input_header {
  margin-bottom: 56px;
}

.newsletter_info {
   color: rgba(0, 0, 0, 0.46);
}

.email {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.bot_nav_container {
  width: 668px;
  height: 300px;
  padding-bottom: 16px;
}

.ul_container {
  width: 117px;
}

.nav {
  margin:0;
  padding-bottom: 0px;
}

.footer_box {
  width: 300px;
}

.privacy {
  width: 60px;
}

.last_footer {
  width: 905px;
  width: 1336px;
}

.footer_par {
  font-size: 8px;
  padding-left: 4px;
}

.foot_link {
  color: #d9d8d6;
}


.unordered_list_for_numbers {
  list-style-type: none;
  margin: 0;
  width: 468px;
}

.numbers_fourth_page {
  padding-left: 15px;
  font-size: 20px;
}




.fourth_page_footer {
  font-size: 20px;
}
.bot_list{
  padding-bottom: 15px;
}